<!doctype html>
<html>
  <head>
    <title>{{.Strategy}} Quiet Hacker News</title>
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
    <style>
      body {
        padding: 20px;
        background-color: #0c0c0c;
      }
      body, a {
        color: #b1b1b1;
        font-family: sans-serif;
      }
      li {
        padding: 4px 0;
      }
      .host {
        color: #888;
      }
      .score {
        color: #777;
      }
      .time {
        color: #666;
        padding: 10px 0;
      }
      .footer, .footer a {
        color: #888;
      }
    </style>
  </head>
  <body>
    <h1>Quiet Hacker News</h1> 
    <span>{{.Strategy}}</span>
    <ol>
      {{range .Stories}}
        <li>
          <a href="{{.URL}}">
            {{.Title}}
          </a>
          <span class="host">
            ({{.Host}})
          </span>
          <span class="score">
            (Score: {{.Score}})
          </span>
          <span class="time">
            (took {{.Latency}})
          </span>
        </li>
      {{end}}
    </ol>
    <p class="time">This page was rendered in {{.Latency}}, Total Latency : {{.TotalLatency}} </p>
    <p class="footer">Fetched {{len .Stories}} / {{.RequiredCount}} stories from <a href="https://news.ycombinator.com">Hacker News</a></p>
    <p class="footer">This page is heavily inspired by <a href="https://speak.sh/posts/quiet-hacker-news">Quiet Hacker News</a> and was adapted for a <a href="https://gophercises.com/exercises/quiet_hn">Gophercises Exercise</a>.</p>
  </body>
</html>